---
import { getPath } from '../utils/path';

interface Props {
    title?: string;
    description?: string;
}

const { title = "Astro Basics", description } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={getPath('favicon.svg')} />
    
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
</head>