---
import type { LayoutProps } from '../types/AstroProps';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import '../styles/global.css'
interface Props extends LayoutProps {}

const { title = "Astro Basics", description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} description={description} />
	<body>
		<Header title={title} />

		<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
			<slot />
		</main>

		<Footer />
	</body>
</html>
